#mc_embed_signup_scroll {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	height: inherit;
}

/*
#mc_embed_signup {
	width: 100%;
	font-family: 'Founders Grotesk Text';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
}

#mce-EMAIL {
	background: #ffffff;
	border-radius: 4px;
	padding: 16px 24px;
	width: 100%;
	margin-right: 24px;
	border: 1px solid #ffffff;
}

#mce-EMAIL::placeholder {
	color: #cccccc;
} */
.w-webflow-badge {
	display: none !important;
}

/* #form-container {
	display: flex;
	align-items: center;
	height: 100%;
	min-height: 164px;
} */

@media screen and (max-width: 1024px) {
	.navbar_center {
		display: none;
	}
}

@media screen and (max-width: 991px) {
	#mc_embed_signup_scroll {
		margin-top: 30px;
		justify-content: center;
	}

	.form_input {
		max-width: 100%;
	}
}

@media screen and (max-width: 540px) {
	.logo_text {
		display: none;
	}
}

@media screen and (max-width: 480px) {
	.navbar_wrapper {
		width: 100%;
	}

	#mc_embed_signup_scroll {
		flex-direction: column;
	}

	.form_input {
		margin-right: 0;
		margin-bottom: 16px;
	}

	.clear {
		width: 100%;
	}

	.form_height {
		width: 100%;
	}
}
